<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>keyword</key>
	<string>(?&lt;!\w)(int|float|while|@import|char|export|sizeof|typedef|const|struct|for|union|unsigned|long|volatile|static|bool|mutable|if|do|return|goto|void|enum|else|break|extern|asm|case|short|default|double|register|explicit|signed|typename|this|switch|continue|wchar_t|inline|readonly|assign|readwrite|self|@synchronized|id|typeof|nonatomic|super|unichar|IBOutlet|IBAction|strong|weak|copy|in|out|inout|bycopy|byref|oneway|__strong|__weak|__block| __autoreleasing|@private|@protected|@public|@try|@property|@end|@throw|@catch|@finally|@autoreleasepool|@synthesize|@dynamic|@selector|@optional|@required|false|true|FALSE|TRUE|nil|YES|NO|NULL|BOOL|dispatch_once_t|dispatch_queue_t|dispatch_sync|dispatch_async|dispatch_once)(?!\w)</string>
	<key>url</key>
	<string>((https?|mailto|ftp|file)://([-\w\.]+)+(:\d+)?(/([\w/_\.]*(\?\S+)?)?)?)</string>
	<key>project</key>
	<string>\b((NS|UI|CG|CT|CA|SL|AC|CL|AV)\w+)</string>
	<key>attribute</key>
	<string>(\.[^\d]\w+)</string>
	<key>number</key>
	<string>(?&lt;!\w)(((0x[0-9a-fA-F]+)|(([0-9]+\.?[0-9]*|\.[0-9]+)([eE][-+]?[0-9]+)?))[fFlLuU]{0,2})(?!\w)</string>
	<key>character</key>
	<string>(&apos;.&apos;)|(@(\[|{).*(\]|}))</string>
	<key>string</key>
	<string>(@?&quot;(?:[^&quot;\\]|\\.)*&quot;)|(&lt;.*&gt;)</string>
	<key>comment</key>
	<string>//[^&quot;\n\r]*(?:&quot;[^&quot;\n\r]*&quot;[^&quot;\n\r]*)*[\r\n]</string>
	<key>documentation_comment</key>
	<string>\/\*(.*?)\*\/</string>
	<key>documentation_comment_keyword</key>
	<string>(\/\*|\*\/)</string>
	<key>preprocessor</key>
	<string>(#.*?)[\r\n]</string>
</dict>
</plist>
